body {
  font-family: sans-serif;
  background-color: whitesmoke;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
}

img {
  width: 20%;
  max-width: 100%;
  height: 10%;
}
button {
  background-color: whitesmoke;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  border:2px solid #000000

}




h1 {
  font-family: "Hubballi", cursive;
}

.hrbelow {
  width: 50%;
  text-align: left;
}

.button1 {
  text-align: center;
}
