body {
  font-family: sans-serif;
  background-color: whitesmoke;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
}


.button_nav {
  background-color: whitesmoke;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  border:2px solid #000000

}


h1 {
  font-family: "Hubballi", cursive;
}

.hrbelow {
  width: 50%;
  text-align: left;
}

.button_nav span {
  position: relative;
  transition: 0.5s;

}
.button_nav span::after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -px;
  transition: 0.5s;
}

.button_nav:hover span {
  padding-right: 15px;
}

.button_nav:hover span:after {
  opacity: 1;
  right: 0;
}

.center_nav {
  margin: 0;
  position: absolute;
  top: 5%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.holdingcontainer{
  width: 100%;
  display: flex;
  background: yellow;
  box-sizing: border-box;
  flex-direction: row;
}

.internalcontainerL{
  flex: 1;
  background: whitesmoke;
  padding: 30px;
  
}


.internalcontainerR{
  flex: 1;
  background: whitesmoke;
  padding: 30px;
  
}

@media screen and (max-width: 768px){
  .holdingcontainer{
    flex-direction: column;
  }
  

}
